<div class="media author-box">
    <div class="media-figure">
        <center>
            <img class="lazyload" data-src="https://h.img.alumni.re/images/gravatar_14.webp" alt="author" />
            <!--<img class="lazyload" data-src="https://h.img.alumni.re/images/eye.gif" alt="author" />-->
        </center>
    </div>
    <div class="media-body">
        <h2>{{ site.author }}</h2>
        {{ site.authorBio }}
        <div class="author-icons">
            <a href="https://github.com/Alumniminium" alt="go to my github">
                <img src="https://h.img.alumni.re/assets/github.svg" alt="go to my github" width="48px" height="48px" />
            </a>
            <a href="https://discord.gg/Ym5eMSv" alt="join my discord">
                <img src="https://h.img.alumni.re/assets/discord.svg" alt="join my discord" width="48px"
                    height="48px" />
            </a>
            <a href="mailto:trrbl@her.st" alt="write me a mail">
                <img src="https://h.img.alumni.re/assets/email.svg" alt="write me a mail" width="48px" height="48px" />
            </a>
        </div>
    </div>
</div>