<head>
  <link rel="preconnect" href="https://h.img.alumni.re">
  <link rel="preload" href="https://h.img.alumni.re/assets/fonts/ONEDAY.woff" crossorigin="anonymous" as="font">
  <link rel="preload" href="/assets/css/style.css" crossorigin="anonymous" as="style">
  <link rel="preload" href="https://h.img.alumni.re/assets/lazysizes.min.js" crossorigin="anonymous" as="script">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://her.st/feed.xml' rel='alternate' type='application/atom+xml'>
  <link rel="manifest" href="/manifest.json" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}" crossorigin="anonymous">
  <link rel="icon" type="image/png" href="https://h.img.alumni.re/assets/favicon.png" crossorigin="anonymous" />
  <meta name="theme-color" content="#FD2186">
  <meta name="msapplication-TileColor" content="#FD2186">
  <meta name="msapplication-navbutton-color" content="#FD2186">
  <meta name="apple-mobile-web-app-status-bar-style" content="#FD2186">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="{{ page.image }}">
  <link rel="apple-touch-icon" href="https://h.img.alumni.re/images/gravatar_14.webp" />
  {%- seo -%}
  {%- feed_meta -%}
  <script src="https://h.img.alumni.re/assets/lazysizes.min.js" crossorigin="anonymous"></script>
</head>