<!-- pagination -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
  <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">
  </a> {% else %} {% endif %}
  {% for page in (1..paginator.total_pages) %} {% if page == paginator.page %}
  {{ page }} {% endif %} {% endfor %} {% if paginator.next_page %} <a
    href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">
  </a>
  {% else %}
  {% endif %}
</div>
{% endif %}