body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: #D8D8D8;
  background: linear-gradient(151deg, #56007e 0%, #13132E 20%, #13132E 85%, #480883 95%, #7e14a1 100%);
  -moz-font-feature-settings: "kern"1;
  -o-font-feature-settings: "kern"1;
  font-feature-settings: "kern"1;
}

body,
html {
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
pre,
ul,
ol,
dl,
figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 3;
}

figure {
  width: 100%;

  margin-left: -50px;
  margin-right: -50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-blue;
}

figure>img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}

ul,
ol {
  margin-left: $spacing-unit;
}

li {

  >ul,
  >ol {
    margin-bottom: 0;
  }
}

video {
  width: 100%;
  border-radius: 0.3em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: monospace;
  font-weight: 700;
  margin-top: 5vh;
  margin-bottom: 2vh;
  text-align: left;
}

a {
  color: $color-pink;
  text-decoration: none;

  &:hover {
    color: $color-foreground;
    text-decoration: underline;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
}

blockquote {
  color: $color-background-dark;
  @include relative-font-size(1.125);
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}

pre,
code {
  @include relative-font-size(0.85);
  border-radius: 0.3em;
  background-color: $color-background-darker;
}

code {
  padding: 3px 5px;
  display: inline;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  >code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

.wrapper {
  margin: auto;
  padding: 0 8vw 0;
  max-width: $content-width;
  @extend %clearfix;
}

%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.hosting-ad {
  text-align: center;
  margin-top: 2rem;
}

.post-thumbnail {
  padding-left: 1rem;
  margin-bottom: 1rem;
}

th {
  color: white;
  background-color: #a11ec6;
}

td {
  color: white;
  background-color: $color-background-darker;
}

th,
td {
  padding: 1rem;
  text-align: left;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 0px;
}