$color-background-dark: #152347;
$color-background-darker: #1d2c4e;
$color-foreground: #fff;
$color-foreground-dark: #8c9dad;
$color-pink: #fff922;
$color-red: #F6358A;
$color-orange: #f89c5a;
$color-yellow: rgb(217, 227, 236);
$color-teal: #51ffd0;
$color-green: #51ffd0;
$color-cyan: #39baff;
$color-blue: white;
$color-indigo: #8e51ff;
$color-purple: #8e51ff;

.color-pink { color: $color-pink; }
.color-red { color: $color-red; }
.color-orange { color: $color-orange; }
.color-yellow { color: $color-yellow; }
.color-teal { color: $color-teal; }
.color-green { color: $color-green; }
.color-cyan { color: $color-cyan; }
.color-blue { color: $color-blue; }
.color-indigo { color: $color-indigo; }
.color-purple { color: $color-purple; }

.color-pink-hover:hover { color: $color-pink; }
.color-red-hover:hover { color: $color-red; }
.color-orange-hover:hover { color: $color-orange; }
.color-yellow-hover:hover { color: $color-yellow; }
.color-teal-hover:hover { color: $color-teal; }
.color-green-hover:hover { color: $color-green; }
.color-cyan-hover:hover { color: $color-cyan; }
.color-blue-hover:hover { color: $color-blue; }
.color-indigo-hover:hover { color: $color-indigo; }
.color-purple-hover:hover { color: $color-purple; }
