@charset "utf-8";

@font-face {
  font-family: 'Inconsolata', monospace;
  font-style: normal;
  font-display: swap;
  src: url(https://h.img.alumni.re/assets/fonts/inconsolata.woff2);
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://h.img.alumni.re/assets/fonts/roboto.woff2);
}

$base-font-family: 'Inconsolata',
monospace;
$syntax-font-family: 'Roboto Mono',
monospace;
$base-font-size: 21px !default;
$post-link-font-size: $base-font-size * 1.20 !default;
$base-font-weight: 500 !default;
$small-font-size: $base-font-size * 0.75 !default;
$base-line-height: 1.3 !default;
$syntax-line-height: 1.35 !default;
$content-width: 900px !default;
$on-palm: 800px !default;
$on-laptop: 800px !default;
$on-medium: $on-palm !default;
$on-large: $on-laptop !default;
$spacing-unit: 30px !default;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

@import "dash/colors",
"dash/animations",
"dash/base",
"dash/layout",
"dash/syntax-highlighting",
"dash/mobile";