<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{%- include head.html -%}

<body>
  <link rel="stylesheet" href="/assets/css/highlightjs.css">
  <script defer src="/assets/js/highlight.js"></script>
  <script defer>$(document).ready(function () {
      hljs.initHighlighting();
      // post highlighting code
    });</script>
  {%- include header.html -%}
  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      <center>
        <div class="author">
          {% include author.html %}
        </div>
      </center>
      <br />
      {{ content }}
    </div>
    <br />
    <div class="hosting-ad"><i>This blog (and everything I write about) is hosted on a 1.50$ server. <a href="/hosting"
          alt="Learn More">see my plans</a></i></div>
  </main>
</body>

</html>