<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{%- include head.html -%}
<link rel="preload" href="/assets/js/workbox-v3.6.3/workbox-sw.js" crossorigin="anonymous" as="script">
<link rel="preload" href="/assets/js/workbox-v3.6.3/workbox-core.prod.js" crossorigin="anonymous" as="script">
<link rel="preload" href="https://cdn.her.st/assets/lazysizes.min.js" crossorigin="anonymous" as="script">
<link rel="preload" href="https://cdn.her.st/assets/lazysizes.min.js" crossorigin="anonymous" as="script">
<link rel="preload" href="https://cdn.her.st/assets/lazysizes.min.js" crossorigin="anonymous" as="script">

<body>
  {%- include header.html -%}
  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      <center>
        <div class="author">
          {% include author.html %}
        </div>
      </center>
      <br />
      {{ content }}
    </div>
    <br />
    <div class="hosting-ad"><i>This blog (and everything I write about) is hosted on a 1.50$ server. <a href="/hosting"
          alt="Learn More">see my plans</a></i></div>
  </main>
</body>
<footer>
  <link rel="stylesheet" href="/assets/css/highlightjs.css">
  <script src="/assets/js/highlight.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</footer>

</html>