---
layout: default
image: https://cdn.her.st/images/gravatar_14.webp
---

<center>
  {% assign posts_count = paginator.posts | size %}
  {% if posts_count > 0 %}
  <div>
    {% for post in paginator.posts %}
    <center>
      <div class="post-link-wrapper">
        <div class="post-links">
          <center>
            <a href="{{ post.url | relative_url }}" aria-label=="{{ post.title }}" class="post-link"
              alt="{{ post.title }}" id="biggerTitle">./{{ post.title }}</a>
          </center>
          <div class="excerpt">
            <a href="{{ post.url | relative_url }}" aria-label=="{{ post.title }}" alt="{{ post.title }}">
              <img class="lazyload" data-src="{{ post.thumbnail }}" alt="{{ post.image-credits }}" />
            </a>
            {{ post.excerpt }}
          </div>
          <p class="timestamp">
            Written by {{ post.author }} on {{ post.date | date: "%b %-d, %Y" }}
          </p>
        </div>
      </div>
    </center>
    {% endfor %}
  </div>
</center>
<div>
  {% include pagination.html %}
</div>
{% else %}
<h2>no posts yet.</h2>
{% endif %}
<h3>> ls</h3>
<div id="pages">
  {% for p in site.pages %}
  <div>
    <div class="page-links">
      <a href="{{ p.url | relative_url }}" class="post-link" id="biggerTitle">/{{ p.title }}</a>
    </div>
  </div>
  {% endfor %}
  <div>
    <div class="page-links">
      <a href="https://whyp.it/" rel="noopener" target="_blank" class="post-link" id="biggerTitle">/Whyp.it - 1 Click
        Audio Sharing</a>
    </div>
  </div>
</div>
</div>
<div>