---
layout: default
---
{% include author.html %}
<br></br>
<div>
  <p>λ trrbl dev blog [~] ls -la /usr/bin/tags/{{ page.tag }}</p>
</div>
<div class="tags-wrapper">
  {% for post in site.posts %}
  {% for tag in post.tags %}
  {% if tag == page.tag %}
  <p class="perms">.r--r--r--</p>
  <p class="size">{{ post.size }}</p>
  <p class="author">{{ post.author }}</p>
  <p class="date">{{ post.date | date: "%b %-d, %Y" }}</p>
  <a href="{{ post.url | relative_url }}"> {{ post.title }}.md</a>
  {% endif %}
  {% endfor %}
  {% endfor %}
</div>
{% include tagcloud.html %}